## Несчастливый билет

In [28]:
import pandas as pd


def is_good_ticket(ticket: str) -> bool:
    if not ticket.isnumeric():
        ticket = ticket.split()[-1]
    ticket.strip()
    if len(ticket) % 2 == 1:
        return False
    return sum(map(int, ticket[:len(ticket) // 2])) == sum(map(int, ticket[len(ticket) // 2:]))


def process(df: pd.DataFrame):
    df = df.loc[df['Ticket'].apply(lambda s: is_good_ticket(s))]
    return round(df.loc[df['Survived'] == 1].shape[0] / df.shape[0] * 100, 2)

In [29]:
df = pd.read_csv("titanic.csv", delimiter='\t', index_col=0)

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, 1 to 156
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  156 non-null    int64
 1   Pclass    156 non-null    int64
 2   Name      156 non-null    object
 3   Sex       156 non-null    object
 4   Age       126 non-null    float64
 5   SibSp     156 non-null    int64
 6   Parch     156 non-null    int64
 7   Ticket    156 non-null    object
 8   Fare      156 non-null    float64
 9   Cabin     31 non-null     object
 10  Embarked  155 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 14.6+ KB

         Survived      Pclass         Age       SibSp       Parch        Fare
count  156.000000  156.000000  126.000000  156.000000  156.000000  156.000000
mean     0.346154    2.423077   28.141508    0.615385    0.397436   28.109587
std      0.477275    0.795459   14.613880    1.056235    0.870146   39.401047
min      0.000000    1.000000    0.830000    0.000000    0.000000    6.750000
25%      0.000000    2.000000   19.000000    0.000000    0.000000    8.003150
50%      0.000000    3.000000   26.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   30.371850
max      1.000000    3.000000   71.000000    5.000000    5.000000  263.000000

In [30]:
process(df)

1
4

20.0