## Без коротких сессий

In [1]:
import pandas as pd

FILE_PATH = "D:/Курсы(образование)/Яндекс Специализации/BigData/Lesson_4/user_sessions_log.tsv"


def process(df: pd.DataFrame):
    df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
    df = df.drop(['value'], axis=1)
    
    # df.info()
    # df.describe()
    
    df = df.groupby(["user_id", "session_id"]).agg(
        action=pd.NamedAgg(column="action", aggfunc="first"),
        dt_min=pd.NamedAgg(column="timestamp", aggfunc="min"),
        dt_max=pd.NamedAgg(column="timestamp", aggfunc="max"),
    ).reset_index()
    
    df = df[df['dt_max'] != df['dt_min']]
    df = df[['user_id', 'session_id', 'action']]
    
    a1 = len(df[df['action'] == "mainpage"])
    a2 = len(df)
    
    return round(a1 / a2 * 100, 2)

In [2]:
df = pd.read_csv(FILE_PATH, sep='\t')
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
df = df.drop(['value'], axis=1)

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5338917 entries, 0 to 5338916
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   user_id     object
 1   session_id  int64
 2   timestamp   datetime64[ns]
 3   action      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 162.9+ MB

         session_id                      timestamp
count  5.338917e+06                        5338917
mean   1.011325e+02  2023-04-06 20:23:23.413941504
min    1.000000e+00            2022-09-20 21:00:32
25%    5.100000e+01            2022-12-29 05:32:01
50%    1.010000e+02            2023-04-06 18:49:10
75%    1.510000e+02            2023-07-14 08:39:24
max    2.240000e+02            2023-10-20 21:00:11
std    5.841469e+01                            NaN

In [19]:
df_grouped = df.groupby(["user_id", "session_id"]).agg(
    action=pd.NamedAgg(column="action", aggfunc="first"),
    dt_min=pd.NamedAgg(column="timestamp", aggfunc="min"),
    dt_max=pd.NamedAgg(column="timestamp", aggfunc="max"),
).reset_index()
# print(df_grouped)

df_grouped = df_grouped[df_grouped['dt_max'] != df_grouped['dt_min']]
df_grouped = df_grouped[['user_id', 'session_id', 'action']]

            user_id  session_id    action              dt_min  \
0        user_10000           1   product 2022-09-24 23:00:32
1        user_10000           2    search 2022-09-24 23:01:36
2        user_10000           3  category 2022-09-25 23:04:40
3        user_10000           4  mainpage 2022-09-27 23:04:52
4        user_10000           5  category 2022-09-30 23:06:29
...             ...         ...       ...                 ...
1004598  user_14999         195  mainpage 2023-10-11 09:07:47
1004599  user_14999         196    search 2023-10-14 09:12:27
1004600  user_14999         197   product 2023-10-14 09:13:33
1004601  user_14999         198    search 2023-10-16 09:14:52
1004602  user_14999         199   product 2023-10-19 09:16:53

                     dt_max
0       2022-09-24 23:01:05
1       2022-09-24 23:04:16
2       2022-09-25 23:04:46
3       2022-09-27 23:05:59
4       2022-09-30 23:08:14
...                     ...
1004598 2023-10-11 09:12:24
1004599 2023-10-14 09:13:26
1004600 2023-10-14 09:14:30
1004601 2023-10-16 09:16:51
1004602 2023-10-19 09:18:23

[814512 rows x 5 columns]

In [18]:
# df_grouped[['user_id', 'session_id', 'action']]
a1 = len(df_grouped[df_grouped['action'] == "mainpage"])
a2 = len(df_grouped)
res = round(a1 / a2 * 100, 2)
print(res)

173711 814512 0.21327003162629893