In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

df = pd.read_csv("D:\Курсы(образование)\Яндекс Специализации\BigData\Project\dataset_telemetry.csv", index_col=0)

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [5]:
df.info()
display(df.describe())
display(df.head(10))

<class 'pandas.core.frame.DataFrame'>
Index: 7510522 entries, 0 to 7510521
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   userid     object
 1   sessionid  int64
 2   timestamp  datetime64[ns]
 3   action     object
 4   value      float64
 5   category   object
 6   age        int64
 7   gender     object
 8   city       object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 573.0+ MB

          sessionid                      timestamp         value           age
count  7.510522e+06                        7510522  7.510522e+06  7.510522e+06
mean   2.805611e+02  2023-07-02 12:12:15.128161792  2.069225e+03  3.598401e+01
min    1.000000e+00            2021-12-26 21:00:28  0.000000e+00  7.000000e+00
25%    1.410000e+02            2022-09-29 20:42:51  0.000000e+00  2.100000e+01
50%    2.810000e+02            2023-07-02 17:51:00  0.000000e+00  3.400000e+01
75%    4.200000e+02     2024-04-03 04:12:19.500000  0.000000e+00  4.800000e+01
max    5.860000e+02            2025-01-03 20:59:30  2.116800e+05  8.100000e+01
std    1.617851e+02                            NaN  7.412838e+03  1.826152e+01

,userid,sessionid,timestamp,action,value,category,age,gender,city
0,user_10000,1,2021-12-30 12:28:45,category,0.000000,Товары для детей,42,Ж,Красноярск
1,user_10000,1,2021-12-30 12:29:10,search,0.000000,Товары для детей,42,Ж,Красноярск
2,user_10000,1,2021-12-30 12:29:25,product,0.000000,Товары для детей,42,Ж,Красноярск
3,user_10000,1,2021-12-30 12:29:26,search,0.000000,Товары для детей,42,Ж,Красноярск
4,user_10000,1,2021-12-30 12:29:34,search,0.000000,Товары для детей,42,Ж,Красноярск
5,user_10000,1,2021-12-30 12:29:46,product,0.000000,Товары для детей,42,Ж,Красноярск
6,user_10000,1,2021-12-30 12:30:14,search,0.000000,Товары для детей,42,Ж,Красноярск
7,user_10000,1,2021-12-30 12:30:45,category,0.000000,Товары для детей,42,Ж,Красноярск
8,user_10000,1,2021-12-30 12:30:48,cart,5735.262266,Авто/мото товары,42,Ж,Красноярск
9,user_10000,1,2021-12-30 12:30:52,checkout,6130.000000,NaN,42,Ж,Красноярск